@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Epilogue:wght@500;700&family=Pridi:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.3px;
    overflow-x: hidden;
}
#root{
    display: flex;
    flex-direction: column;
}
h1,h2,h3,h4{
    font-family: 'Pridi', serif;
}
footer{
    font-family: 'Epilogue', sans-serif;
}
img,button{
    cursor: pointer;
}

button{
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 45px 25px 25px 7px ;
}
.downloadBtn{
    letter-spacing: 1px;
    border: 1px solid black;
    background-color: black;
    padding: 1rem 4rem;
    box-shadow: 5px -3px 0px 2px inset;;
}
section,div{
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid red;
}