.firstSec{
    overflow-x: none;
    flex-direction: column;
    background: url('../assets/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    nav{
        width: 95%;
        font-size: 12px;
        margin-top:1.5rem ;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        div{
            position: relative;
            margin: 0 3rem;
            height: 0px;
            img{
                background-color: rgba(255, 255, 255, 0.125);
                border-radius: 100%;
                padding: 3rem;
            }
        }
        ul{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            list-style: none;
            letter-spacing: 0.48px;
            line-height: 16px;
            li{    
                display:inline;
                align-self: flex-end;
                margin: 0 1rem;
                a{
                    color: black;
                    text-decoration: none;
                    border-bottom: 1px solid black ;
                }
            }
        }
        button{
            background-color: #FD7003;
            padding: 0.5rem 2rem;
        }
    }
    .welcome{
        @extend .firstSec;
        flex-direction: row;
        height: 25rem   ;
        div{
            text-align: right;
            flex-direction: column;
            width: 45%;
            h1{
                margin: 0;
                padding: 0;
                line-height: 100%;
                font-weight: 600;
                font-size: 90px;
            }
            div{
                align-self: flex-end;
                width: 50%;
                p{
                    color: white;
                }
            }
        }
        .vegetablesCont{
            position: absolute;
            background-color: rgba(255, 255, 255, 0.125);
            border-radius: 100%;
            padding: 1rem;
            width: 32rem;
            height: 30rem;
            top: 18%;
            right: 8%;
            img{
                position: relative;
                left: 5%;
                top: 8%;
                width: 20rem;
                height: 25rem;

            }
        }
    }
    .download{
        background-color: white;
        justify-content: center;
        padding: 2rem 0;
        div{
            gap: 2rem;
            position: relative;
            left: 25%;
        }
    }
}

.comments{
    background: url('../assets/phonediag.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    div{
        justify-content: space-around;
        flex-wrap: wrap;
        width: 770px;
        height: 770px;
        margin: 0 auto;
        gap: 4rem;
        fieldset{
            width: 15rem;
            border-radius: 20px;
            backdrop-filter: blur(33px);
            border-color: #FFCD3E;
            text-align: right;
            position: relative;
            legend{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
        .fieldset-1{
            right: 20%;
            top: 10%;
        }
        .fieldset-2{
            text-align: left;
            right: 0%;
            left: 10%;
            top: 8%;
        }
        .fieldset-3{
            text-align: right;
            right: 15%;
        }
        .fieldset-4{
            text-align: right;
            right: 0%;
            left: 15%;
            bottom: 8%;
        }
    }
}
.appShow{
    margin-top: 10%;
    padding: 10% 0;
    background: url('../assets/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .cont{
        .row{
            flex-direction: row;
        }
        .card{
            background-color: white;
            border-radius: 20px;
            align-items: center;
            z-index: 1;
            transform: scale(0.7);
            box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.353);
            p,small{
                color: black;
            }
            p,b{
                margin: 0.5rem 1rem;
            } 
            b{
                color: #FA7303;
            }
            .recipies{
                position:relative;
                bottom: 1rem;
                width: fit-content;
                background-color: #BADA00;
                border-radius: 100%;
                padding: 8px;
            }
            div{
                gap:0
            }
        }
        .phoneShow{
            width: 80vw;
            height: 80vh;
            .phoneCont{
                position: absolute;
                padding: 5rem;
                background-color: rgba(255, 255, 255, 0.125);
                border-radius: 100%;
                .imgCont{
                    img{
                        width: 50%;
                    }
                }
            }
        }
        div{
            width: 30vw;
            margin: 0 5%;
            flex-direction: column;
            text-align: right;
            gap: 1rem;
            h2{
                font-size: 4rem;
                margin: 0;
            }
            p{
                color: white;
            }
            button{
                align-self: flex-end;
            }
        }
        .carta1{
            position: relative;
            right: 25%;
            top: 5%;
        }
        .carta2{
            position: relative;
            left: 33%;
            top: 10%;
        }
        .carta3{
            position: relative;
            right: 25%;
            top: 32%;
        }
        .carta4{
            z-index: 1;
            transform: scale(0.7);
            position: relative;
            bottom: 25%;
            right: 13%;
        }
        .carta5{
            z-index: 1;
            transform: scale(0.7);
            position: relative;
            bottom: 25%;
        }
    }
}