.firstSec{
    overflow-x: none;
    flex-direction: column;
    background: url('../assets/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    nav{
        width: 95%;
        font-size: 12px;
        margin-top:1.5rem ;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        div{
            position: relative;
            margin: 0 3rem;
            height: 0px;
            img{
                background-color: rgba(255, 255, 255, 0.125);
                border-radius: 100%;
                padding: 3rem;
            }
        }
        ul{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            list-style: none;
            letter-spacing: 0.48px;
            line-height: 16px;
            li{    
                display:inline;
                align-self: flex-end;
                margin: 0 1rem;
                a{
                    color: black;
                    text-decoration: none;
                    border-bottom: 1px solid black ;
                }
            }
        }
        button{
            background-color: #FD7003;
            padding: 0.5rem 2rem;
        }
    }
    .welcome{
        @extend .firstSec;
        flex-direction: row;
        height: 25rem   ;
        div{
            text-align: right;
            flex-direction: column;
            width: 45%;
            h1{
                margin: 0;
                padding: 0;
                line-height: 100%;
                font-weight: 600;
                font-size: 90px;
            }
            div{
                align-self: flex-end;
                width: 50%;
                p{
                    color: white;
                }
            }
            
        }
        .vegetablesCont{
            position: absolute;
            background-color: rgba(255, 255, 255, 0.125);
            border-radius: 100%;
            padding: 1rem;
            width: 32rem;
            height: 30rem;
            top: 12%;
            right: 15%;
            img{
                position: relative;
                left: 5%;
                top: 8%;
                width: 20rem;
                height: 25rem;

            }
        }
    }
    .download{
        width: 100%;
        background-color: white;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 0;
        div{
            position: relative;
            left: 25%;
        }
    }
}

.comments{
    background: url('../assets/phonediag.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    div{
        justify-content: space-around;
        flex-wrap: wrap;
        width: 770px;
        height: 770px;
        margin: 0 auto;
        gap: 4rem;
        fieldset{
            width: 15rem;
            border-radius: 20px;
            backdrop-filter: blur(33px);
            border-color: #FFCD3E;
            text-align: right;
            legend{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
        .fieldset-2{
           text-align: left;
        }
        .fieldset-3{
          text-align: right;
        }
    }
}